.dummy{
	color : black;
}


@media only screen and (max-width: 600px){
.donut{
	display: block;
	width: 250px !important;
}
}
@media only screen and (min-width: 600px){
.donut{
	display: block;
	width: 535px !important;
}
}
@media only screen and (min-width: 768px){
.donut{
	display: block;
	width: 350px !important;
}
}
@media only screen and (min-width: 992px){
.donut{
	display: block;
	width: 360px !important;
}
}
@media only screen and (min-width: 1200px){
.donut{
	display: block;
	width: 480px !important;
}
}
@media only screen and (min-width: 1480px){
.donut{
	display: block;
	width: 625px !important;
}
}